dist: trusty

language: python
python:
  - "3.6"

before_install:
  - sudo apt-get update
  - sudo apt-get install ghostscript pdftk poppler-utils qpdf

install:
  - pip install -e .[dev]

script:
  - green -vv -a ./tests
