---
core:
  crop: 'left'          # options: 'none', 'left', 'center', 'right'
  blank: false          # options: true, false
  upload: true          # options: true, false
  verbose: true         # options: true, false
  experimental: true    # options: true, false
  remarkable_dir: "/"   # options: directory on the remarkable to place the files

# System settings are all optional, but can be used if executables are not on 
# the PATH. Options in this section include: gs, pdftk, pdftoppm, qpdf, and 
# rmapi.
system:
  gs: /usr/bin/gs

# Settings for styling HTML sources. This section has support for a css field 
# and a font_urls field. The former is expected to be a multiline string and 
# the latter a list of urls.
html:
  css: |
    @page { size: 702px 936px; margin: 1in; }
    img { display: block; margin: 0 auto; text-align: center; max-width: 70%; }
    h1,h2,h3 { font-family: 'Montserrat'; }
    p, li { font-size: 12pt; line-height: 2; font-family: 'Montserrat'; }

  font_urls:
    - https://fonts.googleapis.com/css2?family=Montserrat&display=swap
